<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
		<property name="format_sql">false</property>
		<property name="show_sql">true</property>
		<property name="use_sql_comments">false</property>
		<property name="connection.datasource">
			java:comp/env/jdbc/CubePro
		</property>
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="transaction.factory_class">
			org.hibernate.transaction.JDBCTransactionFactory
		</property>
		<property name="generate_statistics">true</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.cache.provider_class">
			org.hibernate.cache.EhCacheProvider
		</property>
		<property name="hibernate.jdbc.batch_size">30</property>
		<property
			name="hibernate.cache.provider_configuration_file_resource_path">
			/hibernate/ehcache.xml
		</property>
		<property name="jndi.url"></property>
		<mapping resource="hibernate/SchoolDetails.hbm.xml" />
		<mapping resource="hibernate/ClassDetails.hbm.xml" />
		<mapping resource="hibernate/CourseDetails.hbm.xml" />
		<mapping resource="hibernate/ExamDetails.hbm.xml" />
		<mapping resource="hibernate/FeesDetails.hbm.xml" />
		<mapping resource="hibernate/InvoiceDetails.hbm.xml" />
		<mapping resource="hibernate/MarkDetails.hbm.xml" />
		<mapping resource="hibernate/StaffAttendanceDetails.hbm.xml" />
		<mapping resource="hibernate/StaffDetails.hbm.xml" />
		<mapping resource="hibernate/StudentAttendanceDetails.hbm.xml" />
		<mapping resource="hibernate/StudentDetails.hbm.xml" />
		<mapping resource="hibernate/SubjectDetails.hbm.xml" />
		<mapping resource="hibernate/TimeTableDetails.hbm.xml" />
		<mapping resource="hibernate/LoginDetails.hbm.xml" />
		<mapping resource="hibernate/ExamTimeTable.hbm.xml" />
		<mapping resource="hibernate/TransactionDetails.hbm.xml" />
		<mapping resource="hibernate/Subject.hbm.xml" />
		<mapping resource="hibernate/Term.hbm.xml" />
		<mapping resource="hibernate/FeesMaster.hbm.xml" />
		<mapping resource="hibernate/AssetAndLiability.hbm.xml" />
		<mapping resource="hibernate/TransactionMaster.hbm.xml" />
		<mapping resource="hibernate/Bank.hbm.xml" />
		<mapping resource="hibernate/BankDetails.hbm.xml" />
		<mapping resource="hibernate/Vehicle.hbm.xml" />
		<mapping resource="hibernate/Route.hbm.xml" />
		<mapping resource="hibernate/Stop.hbm.xml" />
		<mapping resource="hibernate/RouteStop.hbm.xml" />
		<mapping resource="hibernate/VehicleMaint.hbm.xml" />
		<mapping resource="hibernate/VehicleFuel.hbm.xml" />
		<mapping resource="hibernate/BuildingInf.hbm.xml" />
		<mapping resource="hibernate/RoomInf.hbm.xml" />
		<mapping resource="hibernate/StudentMarkSummary.hbm.xml" />					
    	<mapping resource="hibernate/Visitor.hbm.xml" />
    	<mapping resource="hibernate/Category.hbm.xml" />
    	<mapping resource="hibernate/Book.hbm.xml" />
    	<mapping resource="hibernate/StudentLendDetails.hbm.xml" />
    	<mapping resource="hibernate/StaffLendDetails.hbm.xml" />
    	<mapping resource="hibernate/Menus.hbm.xml" />
    	<mapping resource="hibernate/MenuPermissions.hbm.xml" />
    	<mapping resource="hibernate/HomeWork.hbm.xml" />
    	<mapping resource="hibernate/StudentHomeWork.hbm.xml" />
	</session-factory>
</hibernate-configuration>